h1 {
    font-size: 80px;
    font-family:'Cormorant Garamond', Times, serif;
    margin: 20px;
  }
  h2 {
    font-size: 40px;
    font-family:'Cormorant Garamond', Times, serif;
    margin: 10px;
  }
  h3 {
    font-size: 25px;
    font-family:'Cormorant Garamond', Times, serif;
    margin: 5px;
  }
  p {
    font-size: 20px;
    font-family:'Cormorant Garamond', Times, serif;
    margin: 3px;
  }


.flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.flex-3-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

section {
    margin: 40px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* NAVIGATION */
nav .right ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:  center;
}

nav .right ul li, .logo {
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    padding-top: 0px;
}

/* LANDING PAGE */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}
.buttonGroupH button {
   margin: 20px;
}
.hero .left h2, .hero .left p {
    padding: 20px;
}
.hero .right img {
    width: 90%;
}
.logo-circle {
    width: 100px;
}
.works-image {
    background-color: #fff;
    margin: 0 100px;
    padding: 10px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid var(--primary);
}
.whois-image {
    width: 50px;
    height: 50px;
    margin: 40px;
}

/* HOME */
.home-menu-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 20px 20px 10px 20px;
    padding-bottom: 40px;
    width: 500px;
    height:100%;
    background-color: var(--br);
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(0 .05rem .15rem var(--fg));
}

.home-menu-img img {
    width: 100%;   
}
figcaption {
    margin-top: 10px;
    text-align: center;
}

/* CURATION */
.curation-page {
    padding-bottom: 80px;
}
.total-cards-widget {
    text-align: center;
    padding: 10px;
    margin: 10px; 
}
.arrow-icon {
    width: 80px;
    color: var(--primary);
}
.arrow-icon-container {
    padding: 0 40px;
}
.arrow-icon-container p {
    text-align: center;
}
/* .cardContainer {
    margin: 100px;
    border: 1px dotted red;
} */

FOOTER
.footer{
    text-align: center;
    padding: 20px;
    background-color: var(--primary);
}
.footer-icon {
    width: 50px;
}